.clickable {
  cursor: pointer;
}

.clickable:hover {
  opacity: 0.7;
}

.menu-button {
	position: absolute;
	top: 8px;
	right: 8px;
	color: #85a3ff;
}

.current-task.selected {

}

.table.task-log .header {
	border-bottom: 1px black solid;
	margin-bottom: 8px;
	padding-bottom: 4px;
}

.table.task-log {

}

.task-column {
  width: 45%;
}

.current-task.blank {
	color: #8a8989;
	font-style: italic;
}

.timer {
  font-size: 24px;
}

button {
	background: none;
	border-radius: 3px;
	border: 1px black solid;
	padding: 2px 10px;
}

.disabled {
  opacity: 0.4
}

.toolbar-container {
	position: relative;
}
