body {
  font-family: 'Open Sans', sans-serif;
}

textarea:focus, input:focus{
	outline: none;
}

body {
	overflow: hidden;
  margin: 0px;
}

.task-selector-input {
	border: 1px #E4E4E4 solid;
  width: 100%;
	height: 100%;
	font-size: 20px;
  padding: 6px;
}

.task-selector-container {
	position: absolute;
	width: 100%;
	height: 100%;
	border: 2px solid black;
}

.task-selector-dropdown {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	background-color: white;
	width: 600px;
	height: 50px;
}

.selection-dropdown {
	background-color: white;
	margin: 0px 0px;
	list-style: none;
	padding: 0px;
}
.selection-dropdown-item {
  padding: 12px;
}

.selection-dropdown-item:not(:last-child) {
  border-bottom: 1px solid #E4E4E4;
}

.selection-dropdown-item.create-task {
  color: gray;
}

.selection-dropdown-item.active {
	background-color: #EDEDED;
}
