.hotkey-info {
	font-size: 12px;
	border-top: 1px solid #E6E6E6;
	color: #909090;
	position: absolute;
	bottom: 0px;
}

.view-container {
  font-size: 14px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.fa-play, .fa-pause, .fa-stop {
	font-size: 13px;
	padding-top: 1.5px;
	font-size: 13px;
	color: #464646;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  opacity: 0.7;
}

.menu-button {

  font-size: 14px;
	color: #000000;
}

.current-task.selected {

}

.table.task-log .header {
	border-bottom: 1px black solid;
	margin-bottom: 8px;
	padding-bottom: 4px;
}

.table.task-log {

}

.task-column {
  width: 45%;
}

.current-task.blank {
	color: #8a8989;
	font-style: italic;
}

.timer {
  font-size: 24px;
}

button {
	background: none;
	border-radius: 3px;
	border: 1px black solid;
	padding: 2px 10px;
}

.disabled {
  opacity: 0.4
}

.toolbar-container {
	position: relative;
}
